div{
    height: 200px;
    width: 500px;
    background-color: cornsilk;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 15px;
    margin: 10px 20px 30px;
}
h1{
    border-style: solid;
    border-color: brown;
    border-width: 3px;
    width: 250px;
    border-top: 5px solid blueviolet ;
    border-radius: 10px 100px / 120px;

}
button{
    border: 1px solid blue;
    background-color:#ff69b4;
    border-radius:10px 100px / 120px;
    padding: 2px;
    
}
button:hover{
    border: 10px dotted gray;
    background-color: magenta;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    
}